{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 style="color: gold;">Course Overrides</h1>
    <p style="max-width: 700px; font-size: 16px; line-height: 1.5; ">To obtain an override for a STAT or OPER course, please completely fill out the Override Form. You must include your full V-number and your complete VCU email address. If you are requesting an override because there are currently no open seats in a section, those will be reviewed to see if additional students can be added. If you are requesting an override because you received a “Prerequisite Not Met” error when trying to register for a class in eServices, use the Additional Comments box to explain in detail how you have alternatively satisfied the prerequisite. If you are requesting an override for any other reason, please elaborate completely in the Additional Comments box. For classes with multiple sections you may list all of the sections that you can take on the form, in your priority order. If you need overrides for more than one course, please complete the form multiple times, once for each course.</p>
</div>
{% endblock %}
